# **NUMBER_COMMITS**

This notebook the creation of the table `NUMBER_COMMITS`, that contains the number of commits by each commiter.

First, we import the libraries we need and, then, we read the corresponding csv.

In [1]:
import pandas as pd
import numpy as np

In [2]:
gitCommits = pd.read_csv("../../../data/interim/DataPreparation/CleanData/GIT_COMMITS_clean.csv").iloc[:,2:]
print(gitCommits.shape)
gitCommits

(140653, 5)

,projectID,commitHash,author,committer,committerDate
0,accumulo,e0880e263e4bf8662ba3848405200473a25dfc9f,Keith Turner,Keith Turner,2011-10-04T00:46:07Z
1,accumulo,e8774c5ec3a35e042f320540b5f7e66ebd2d9e87,Billie Rinaldi,Billie Rinaldi,2011-10-04T16:57:13Z
2,accumulo,2032ebbd0ed90734da39ca238bbd10dee24d0030,Keith Turner,Keith Turner,2011-10-04T18:39:18Z
3,accumulo,de297d4932e08625a5df146f0802041bb5aeb892,Billie Rinaldi,Billie Rinaldi,2011-10-04T19:31:01Z
4,accumulo,34efaae87639a83b60fdb7274de4b45051025a3a,Billie Rinaldi,Billie Rinaldi,2011-10-05T17:19:06Z
...,...,...,...,...,...
140648,zookeeper,cc900a3b05bc31a237753680c8b00dc5866df4b2,Brian Nixon,Norbert Kalmar,2019-07-15T14:15:03Z
140649,zookeeper,1c83846615701e88749690f06993a6e77452b83c,Ivan Yurchenko,Andor Molnar,2019-07-15T14:46:48Z
140650,zookeeper,f873dcf10e222e220732ab27cc6fc8c0ff0beec6,Andor Molnar,Norbert Kalmar,2019-07-16T09:21:14Z
140651,zookeeper,a6c36b69cc72d7d67e392dab5360007d6f737bef,maoling,Andor Molnar,2019-07-17T13:42:32Z
140652,zookeeper,4212f865d67b9c7860c1da071f3997b0a5b5387e,Andor Molnar,Enrico Olivelli,2019-07-19T13:08:30Z

Therefore, we count how many times each committer has made a commit.

In [3]:
number_commits = gitCommits.groupby(['committer']).count().iloc[1:,1]
number_commits = pd.DataFrame(number_commits).rename(columns={'commitHash': 'numberCommits'})
number_commits

                        numberCommits
committer
-l                                 27
1028332163                         14
A. J. David Bosschaert            432
A195882                             1
A744013                             5
...                               ...
Łukasz Gajowy                     137
성준영                           1
“Erin                               2
吴雪山                                 1
琨瑜                                  1

[1015 rows x 1 columns]

We save this table in a new csv.

In [4]:
number_commits.to_csv('../../../data/interim/DataPreparation/ConstructData/NUMBER_COMMITS.csv', header=True)