# **FIXED_ISSUES**

This notebook the creation of the table `FIXED_ISSUES`, that contains, for each committer, how many SZZ, Sonar and Jira issues has fixed.

First, we import the libraries we need and, then, we read the corresponding csv files.

In [6]:
import pandas as pd

In [7]:
gitCommits = pd.read_csv("../../../data/interim/DataPreparation/CleanData/GIT_COMMITS_clean.csv")
print(gitCommits.shape)
gitCommits.head()

(140653, 7)

,Unnamed: 0,Unnamed: 0.1,projectID,commitHash,author,committer,committerDate
0,0,0,accumulo,e0880e263e4bf8662ba3848405200473a25dfc9f,Keith Turner,Keith Turner,2011-10-04T00:46:07Z
1,1,1,accumulo,e8774c5ec3a35e042f320540b5f7e66ebd2d9e87,Billie Rinaldi,Billie Rinaldi,2011-10-04T16:57:13Z
2,2,2,accumulo,2032ebbd0ed90734da39ca238bbd10dee24d0030,Keith Turner,Keith Turner,2011-10-04T18:39:18Z
3,3,3,accumulo,de297d4932e08625a5df146f0802041bb5aeb892,Billie Rinaldi,Billie Rinaldi,2011-10-04T19:31:01Z
4,4,4,accumulo,34efaae87639a83b60fdb7274de4b45051025a3a,Billie Rinaldi,Billie Rinaldi,2011-10-05T17:19:06Z

In [8]:
SZZcommits = pd.read_csv("../../../data/interim/DataPreparation/CleanData/SZZ_FAULT_INDUCING_COMMITS_clean.csv")
print(SZZcommits.shape)
SZZcommits.head()

(27340, 5)

,Unnamed: 0,projectID,faultFixingCommitHash,faultInducingCommitHash,key
0,0,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,49cbb142a2b5d7d89aab077dc63f7646828c9408,DAEMON-370
1,1,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,43d485a0e99c613daffba7d5b410e8e4a302e4f7,DAEMON-370
2,2,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,4f232e47002359f1a8156b5f03b227c7bae9874a,DAEMON-370
3,3,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,4f232e47002359f1a8156b5f03b227c7bae9874a,DAEMON-370
4,4,beam,e2583f5e73de50f8af128ecaa331a2e1046d2b08,c880c8ebad0e83a068301d0bbf8c76be36a59962,BEAM-5145

In [9]:
sonarIssues = pd.read_csv("../../../data/interim/DataPreparation/CleanData/SONAR_ISSUES_clean.csv")
print(sonarIssues.shape)
sonarIssues.head()

(1532446, 10)

,Unnamed: 0,projectID,creationDate,closeDate,creationCommitHash,closeCommitHash,type,severity,debt,author
0,0,commons-daemon,2003-09-04T23:28:19Z,2019-07-07T10:31:36Z,d3416d3a25b16da3d18b3849522fa96183918e5b,not-resolved,CODE_SMELL,MAJOR,20min,yoavs@apache.org
1,1,commons-daemon,2003-09-04T23:28:19Z,2010-03-15T08:09:26Z,d3416d3a25b16da3d18b3849522fa96183918e5b,6cbc872eb202dfc27f2eb59b02d953c3deca32c8,CODE_SMELL,MINOR,1min,yoavs@apache.org
2,2,commons-daemon,2003-09-04T23:28:19Z,2019-07-07T10:31:36Z,d3416d3a25b16da3d18b3849522fa96183918e5b,not-resolved,CODE_SMELL,MAJOR,30min,yoavs@apache.org
3,3,commons-daemon,2003-09-04T23:28:19Z,2010-03-15T08:09:26Z,d3416d3a25b16da3d18b3849522fa96183918e5b,6cbc872eb202dfc27f2eb59b02d953c3deca32c8,CODE_SMELL,MINOR,1min,yoavs@apache.org
4,4,commons-daemon,2003-09-04T23:28:19Z,2019-07-07T10:31:36Z,d3416d3a25b16da3d18b3849522fa96183918e5b,not-resolved,CODE_SMELL,MINOR,1min,yoavs@apache.org

In [10]:
jiraIssues = pd.read_csv("../../../data/interim/DataPreparation/CleanData/JIRA_ISSUES_clean.csv")
print(jiraIssues.shape)
jiraIssues.head()

(66345, 9)

,Unnamed: 0,projectID,key,creationDate,resolutionDate,type,priority,assignee,reporter
0,0,commons-exec,EXEC-108,2018-09-18T11:15:58.000+0000,2019-07-07T10:32:12Z,Bug,Major,not-assigned,natanieljr
1,1,commons-exec,EXEC-107,2018-07-04T12:09:47.000+0000,2019-07-07T10:32:12Z,New Feature,Major,not-assigned,stefanreich
2,2,commons-exec,EXEC-106,2018-03-06T11:32:51.000+0000,2019-07-07T10:32:12Z,Improvement,Major,not-assigned,sebb
3,3,commons-exec,EXEC-105,2018-02-16T13:47:10.000+0000,2019-07-07T10:32:12Z,Wish,Trivial,not-assigned,IP
4,4,commons-exec,EXEC-104,2017-08-04T11:57:39.000+0000,2019-07-07T10:32:12Z,Bug,Major,not-assigned,krichter

---

We select the necessary attributes of each table and then, for each one of them, we merge the commits and we count how many times each committer appears in the tables of each type of issue.

In [11]:
SZZcommits = SZZcommits['faultFixingCommitHash']
gitCommits = gitCommits[['commitHash', 'committer']]
sonarIssues = sonarIssues['closeCommitHash']
jiraIssues = jiraIssues['assignee']

In [12]:
SZZ_issues = (pd.merge(SZZcommits, gitCommits, how='inner', left_on='faultFixingCommitHash', right_on='commitHash').drop_duplicates())[['commitHash', 'committer']]
SZZ_issues

                                     commitHash            committer
0      871c58c9cbfff95a4e3149e9df527401d17381fd      Gary D. Gregory
4      e2583f5e73de50f8af128ecaa331a2e1046d2b08          Lukasz Cwik
6      4ebc33baef5432168a9038005f655ef9cb8725cf  Krzysztof Trubalski
7      8b478c54dd6e1882da43d467bd3d4f97483432fa       Andrew Pilloud
8      53d57bf642a03d611909015249f3f9b94675b2a2               GitHub
...                                         ...                  ...
27332  99aa05af2bfef3980ad8f94230cd077e8d30c5ea       Emmanuel Bourg
27333  c8606251c904dfaf5303f71b788e12f7fff15fab       Emmanuel Bourg
27334  9c5ce3501938cff01d78b7a1fff10a60abe9e0cf       Emmanuel Bourg
27336  7220ac2f6b0dd525e5384e2d5708fb63475f836c        Henri Yandell
27339  2ff9573ffb08dd52ec3a55a49f2d77a1e94efbdf        Henri Yandell

[8538 rows x 2 columns]

In [13]:
SSZ_issue_committer = SZZ_issues.committer.value_counts().rename_axis('committer').reset_index(name='SZZIssues')
SSZ_issue_committer

                  committer  SZZIssues
0          Carsten Ziegeler        560
1                Josh Elser        452
2         Felix Meschberger        431
3           Richard S. Hall        409
4           Guillaume Nodet        390
..                      ...        ...
246  Francois-Xavier Bonnet          1
247     Krzysztof Trubalski          1
248           Lukasz Lenart          1
249             Felipe Leme          1
250        David McLaughlin          1

[251 rows x 2 columns]

In [14]:
Sonar_issues = pd.merge(sonarIssues, gitCommits, how='inner', left_on='closeCommitHash', right_on='commitHash').drop_duplicates()[['commitHash', 'committer']]
Sonar_issues

                                       commitHash         committer
0        6cbc872eb202dfc27f2eb59b02d953c3deca32c8       Mladen Turk
23       ba9e8bef1f2f0c5166c0927836e40e62a0f9f38e    William Barker
26       bfb74e969b4875217cd687cbf495d5039bdb5680  Sebastian Bazley
28       2c68992beb5651318b96ce6088d8612a7cfb3a6a       Mladen Turk
29       2d0d5658d6f231a743a2e85bc27fba444a6d5d30   Gary D. Gregory
...                                           ...               ...
1407198  aa9f4de4650ac323fa6b0bb7c9d1a58affe07858     Jim Jagielski
1407199  dd1fd38c378836ebc7869d475c84725339c221b4  Sebastian Bazley
1407200  a955324468d45eb845e05107d5b0013285c3bc0a    Emmanuel Bourg
1407201  ac2a1c85616f0140418de9190389fe7b80296c39   Benedikt Ritter
1407203  e420dd2bebd532abf36d12916358652998e20834  pascalschumacher

[15483 rows x 2 columns]

In [15]:
Sonar_issues_committer = Sonar_issues.committer.value_counts().rename_axis('committer').reset_index(name='SonarIssues')
Sonar_issues_committer

               committer  SonarIssues
0      Oleg Kalnichevski          945
1       Sebastian Bazley          770
2       Carsten Ziegeler          655
3         Eric C. Newton          500
4           Oliver Heger          416
..                   ...          ...
382               bkuker            1
383            No Author            1
384       Michael Melhem            1
385  Martin van den Bemt            1
386          Adrian Crum            1

[387 rows x 2 columns]

In [16]:
Jira_issues_committer = jiraIssues[jiraIssues != 'not-assigned'].value_counts().rename_axis('committer').reset_index(name='JiraIssues')
Jira_issues_committer

                   committer  JiraIssues
0                   aonishuk        1557
1                 aantonenko        1227
2                     atkach        1145
3                 ababiichuk        1027
4                        gnt         942
...                      ...         ...
1504                 geojins           1
1505  sabhyankar_impala_741e           1
1506    jain.samit@gmail.com           1
1507              yuppie-flu           1
1508           zhanglong2015           1

[1509 rows x 2 columns]

Finally, we put together all the values obtained in a single table to have, for each committer, the number of SZZ, Sonar and Jira issues that it has fixed.

In [17]:
issues = pd.merge(SSZ_issue_committer, Sonar_issues_committer, on='committer', how='outer')
issues = pd.merge(issues, Jira_issues_committer, on='committer', how='outer')
issues = issues.fillna(0)
issues

                   committer  SZZIssues  SonarIssues  JiraIssues
0           Carsten Ziegeler      560.0        655.0         0.0
1                 Josh Elser      452.0         68.0         0.0
2          Felix Meschberger      431.0          0.0         0.0
3            Richard S. Hall      409.0         87.0         0.0
4            Guillaume Nodet      390.0        194.0         0.0
...                      ...        ...          ...         ...
1974                 geojins        0.0          0.0         1.0
1975  sabhyankar_impala_741e        0.0          0.0         1.0
1976    jain.samit@gmail.com        0.0          0.0         1.0
1977              yuppie-flu        0.0          0.0         1.0
1978           zhanglong2015        0.0          0.0         1.0

[1979 rows x 4 columns]

We save this table in a new csv.

In [18]:
issues.to_csv('../../../data/interim/DataPreparation/ConstructData/FIXED_ISSUES.csv', header=True)