# **INDUCED_ISSUES**

This notebook the creation of the table `INDUCED_ISSUES`, that contains, for each committer, how many SZZ and Sonar issues has induced.

First, we import the libraries we need and, then, we read the corresponding csv files.

In [1]:
import pandas as pd

In [2]:
gitCommits = pd.read_csv("../../../data/interim/DataPreparation/CleanData/GIT_COMMITS_clean.csv")
print(gitCommits.shape)
gitCommits.head()

(140653, 7)

,Unnamed: 0,Unnamed: 0.1,projectID,commitHash,author,committer,committerDate
0,0,0,accumulo,e0880e263e4bf8662ba3848405200473a25dfc9f,Keith Turner,Keith Turner,2011-10-04T00:46:07Z
1,1,1,accumulo,e8774c5ec3a35e042f320540b5f7e66ebd2d9e87,Billie Rinaldi,Billie Rinaldi,2011-10-04T16:57:13Z
2,2,2,accumulo,2032ebbd0ed90734da39ca238bbd10dee24d0030,Keith Turner,Keith Turner,2011-10-04T18:39:18Z
3,3,3,accumulo,de297d4932e08625a5df146f0802041bb5aeb892,Billie Rinaldi,Billie Rinaldi,2011-10-04T19:31:01Z
4,4,4,accumulo,34efaae87639a83b60fdb7274de4b45051025a3a,Billie Rinaldi,Billie Rinaldi,2011-10-05T17:19:06Z

In [3]:
SZZcommits = pd.read_csv("../../../data/interim/DataPreparation/CleanData/SZZ_FAULT_INDUCING_COMMITS_clean.csv")
print(SZZcommits.shape)
SZZcommits.head()

(27340, 5)

,Unnamed: 0,projectID,faultFixingCommitHash,faultInducingCommitHash,key
0,0,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,49cbb142a2b5d7d89aab077dc63f7646828c9408,DAEMON-370
1,1,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,43d485a0e99c613daffba7d5b410e8e4a302e4f7,DAEMON-370
2,2,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,4f232e47002359f1a8156b5f03b227c7bae9874a,DAEMON-370
3,3,commons-daemon,871c58c9cbfff95a4e3149e9df527401d17381fd,4f232e47002359f1a8156b5f03b227c7bae9874a,DAEMON-370
4,4,beam,e2583f5e73de50f8af128ecaa331a2e1046d2b08,c880c8ebad0e83a068301d0bbf8c76be36a59962,BEAM-5145

In [4]:
sonarIssues = pd.read_csv("../../../data/interim/DataPreparation/CleanData/SONAR_ISSUES_clean.csv")
print(sonarIssues.shape)
sonarIssues.head()

(1532446, 10)

,Unnamed: 0,projectID,creationDate,closeDate,creationCommitHash,closeCommitHash,type,severity,debt,author
0,0,commons-daemon,2003-09-04T23:28:19Z,2019-07-07T10:31:36Z,d3416d3a25b16da3d18b3849522fa96183918e5b,not-resolved,CODE_SMELL,MAJOR,20min,yoavs@apache.org
1,1,commons-daemon,2003-09-04T23:28:19Z,2010-03-15T08:09:26Z,d3416d3a25b16da3d18b3849522fa96183918e5b,6cbc872eb202dfc27f2eb59b02d953c3deca32c8,CODE_SMELL,MINOR,1min,yoavs@apache.org
2,2,commons-daemon,2003-09-04T23:28:19Z,2019-07-07T10:31:36Z,d3416d3a25b16da3d18b3849522fa96183918e5b,not-resolved,CODE_SMELL,MAJOR,30min,yoavs@apache.org
3,3,commons-daemon,2003-09-04T23:28:19Z,2010-03-15T08:09:26Z,d3416d3a25b16da3d18b3849522fa96183918e5b,6cbc872eb202dfc27f2eb59b02d953c3deca32c8,CODE_SMELL,MINOR,1min,yoavs@apache.org
4,4,commons-daemon,2003-09-04T23:28:19Z,2019-07-07T10:31:36Z,d3416d3a25b16da3d18b3849522fa96183918e5b,not-resolved,CODE_SMELL,MINOR,1min,yoavs@apache.org

---

We select the necessary attributes of each table and then, for each one of them, we merge the commits and we count how many times each committer appears in the tables of each type of issue.

In [5]:
SZZcommits = SZZcommits['faultInducingCommitHash']
gitCommits = gitCommits[['commitHash', 'committer']]
sonarIssues = sonarIssues['creationCommitHash']

In [6]:
SZZ_issues = (pd.merge(SZZcommits, gitCommits, how='inner', left_on='faultInducingCommitHash', right_on='commitHash').drop_duplicates())[['commitHash', 'committer']]
SZZ_issues

                                     commitHash            committer
0      49cbb142a2b5d7d89aab077dc63f7646828c9408         Yoav Shapira
1      43d485a0e99c613daffba7d5b410e8e4a302e4f7  Jean-Frederic Clere
2      4f232e47002359f1a8156b5f03b227c7bae9874a     Sebastian Bazley
4      c880c8ebad0e83a068301d0bbf8c76be36a59962      Robert Bradshaw
36     8c28d3e7d06fdd16ffcb570ba33b272e9b53a218         Thomas Weise
...                                         ...                  ...
27295  9b2b8038b52be022e42c8c7fdf26e236888f94c5           John Keyes
27305  89333a791bf39cd4cc63e9279d9bfa5522800e9f     Sebastian Bazley
27306  cfbb46adb163d9b8af00e9a29e6b42d597f8804f       Emmanuel Bourg
27311  b20a8e9fd4d7d63621bf61ffaa43b51ea2fca3c7        Henri Yandell
27312  7e3bcff98a5e290755664dc27eb9b86ba64330d1           John Keyes

[668 rows x 2 columns]

In [7]:
SSZ_issue_committer = SZZ_issues.committer.value_counts().rename_axis('committer').reset_index(name='SZZIssues')
SSZ_issue_committer

               committer  SZZIssues
0        Richard S. Hall         61
1        Gary D. Gregory         40
2       Sebastian Bazley         33
3         Eric C. Newton         31
4           Keith Turner         22
..                   ...        ...
123     Davanum Srinivas          1
124    Ted Nathan Husted          1
125  Bertrand Delacretaz          1
126     Suma Shivaprasad          1
127                  fpj          1

[128 rows x 2 columns]

In [8]:
Sonar_issues = pd.merge(sonarIssues, gitCommits, how='inner', left_on='creationCommitHash', right_on='commitHash').drop_duplicates()[['commitHash', 'committer']]
Sonar_issues

                                       commitHash            committer
0        d3416d3a25b16da3d18b3849522fa96183918e5b            No Author
213      139615aebe97ec81dc22fca5cd2bdd46a1b8cc95  Jean-Frederic Clere
239      874c8f99a6e8002d6d780fa5214836ccc0cb9ce5  Jean-Frederic Clere
243      ba9e8bef1f2f0c5166c0927836e40e62a0f9f38e       William Barker
245      d030f54c7257fb2d28fbbf0a60ce4d1426e04384  Jean-Frederic Clere
...                                           ...                  ...
1531759  39e1da969818b360858115ae5d852e22acd4329a       Emmanuel Bourg
1531760  a955324468d45eb845e05107d5b0013285c3bc0a       Emmanuel Bourg
1531761  c17d0ff553fd34e2e53e0446083ee284ee97f6cb      Benedikt Ritter
1531788  4f17a89ad04bcf718aeac43d202f8c261ce0b796         Rubin Simons
1531793  3d9587caec7dd23d359bc112c63512e2bc3e0702         Rubin Simons

[19223 rows x 2 columns]

In [9]:
Sonar_issues_committer = Sonar_issues.committer.value_counts().rename_axis('committer').reset_index(name='SonarIssues')
Sonar_issues_committer

                committer  SonarIssues
0       Oleg Kalnichevski         1542
1        Sebastian Bazley          710
2        Carsten Ziegeler          701
3            Oliver Heger          614
4            Davor Bonaci          487
..                    ...          ...
409             henrib <>            1
410      Benjamin Hindman            1
411            dileep8014            1
412  Helma Van Der Linden            1
413      Mark Chu-Carroll            1

[414 rows x 2 columns]

Finally, we put together all the values obtained in a single table to have, for each committer, the number of SZZ and Sonar issues that it has induced.

In [10]:
issues = pd.merge(SSZ_issue_committer, Sonar_issues_committer, on='committer', how='outer')
issues = issues.fillna(0)
issues

                committer  SZZIssues  SonarIssues
0         Richard S. Hall       61.0         99.0
1         Gary D. Gregory       40.0        399.0
2        Sebastian Bazley       33.0        710.0
3          Eric C. Newton       31.0        420.0
4            Keith Turner       22.0        303.0
..                    ...        ...          ...
424             henrib <>        0.0          1.0
425      Benjamin Hindman        0.0          1.0
426            dileep8014        0.0          1.0
427  Helma Van Der Linden        0.0          1.0
428      Mark Chu-Carroll        0.0          1.0

[429 rows x 3 columns]

We save this table in a new csv.

In [11]:
issues.to_csv('../../../data/interim/DataPreparation/ConstructData/INDUCED_ISSUES.csv', header=True)